services:
  bot:
    container_name: service-freebot-bot-$CI_ENVIRONMENT_NAME
    image: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      TZ: "Europe/Moscow"
      TELEGRAM_TOKEN: $CI_TELEGRAM_TOKEN
      BACKEND_BASE_URL: $CI_BACKEND_BASE_URL
      MONGO_USERNAME: $CI_MONGO_INITDB_ROOT_USERNAME
      MONGO_PASSWORD: $CI_MONGO_INITDB_ROOT_PASSWORD
      MONGO_NAME: $CI_MONGO_INITDB_DATABASE
      MONGO_HOST: $CI_MONGO_HOST
      MONGO_PORT: $CI_MONGO_PORT
      REQUEST_TIMEOUT: $CI_REQUEST_TIMEOUT
      
    restart: always
    ports:
      - 127.0.0.1:$CI_EXTERNAL_PORT:8081
    networks:
      - osnovacb-network
    depends_on:
      - mongodb

  mongodb:
    image: $CI_MONGO_IMAGE
    container_name: service-freebot-mongodb-$CI_ENVIRONMENT_NAME
    ports:
      - 127.0.0.1:$CI_MONGO_EXTERNAL_PORT:$CI_MONGO_PORT
    volumes:
      - data_mongodb:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: $CI_MONGO_INITDB_ROOT_USERNAME
      MONGO_INITDB_ROOT_PASSWORD: $CI_MONGO_INITDB_ROOT_PASSWORD
      MONGO_INITDB_DATABASE: $CI_MONGO_INITDB_DATABASE
    networks:
      - osnovacb-network
networks:
  osnovacb-network:
    external:
      name: osnova_cb_$CI_ENVIRONMENT_NAME

volumes:
  data_mongodb:
